/* ---------- Main Common ---------- */
.main-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.main-section {
  padding: 80px 0;
}

.main-inner {
  max-width: 768px;
  margin: 0 auto;
}

.icon-box-20 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.icon-box-24 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.icon-box-36 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.icon-box-48 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}




/* ---------- Hero ---------- */

#main-hero {
  position: relative;
  overflow: hidden;
  color: white;
  height: 60vh;
}

#main-hero::before {
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background:
    linear-gradient(180deg, rgba(2, 6, 23, 0.75), rgba(2, 6, 23, 0.65)),
    url("/mv_image.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(1.04);
}


/* ---------- CTA ---------- */
#main-cta {
  position: relative;
  overflow: hidden;
}

/* #main-cta::before {
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background:
    linear-gradient(180deg, rgba(2, 6, 23, 0.75), rgba(2, 6, 23, 0.65)),
    url("/mv_image.jpg");
  background-size: cover;
  background-position: center;
  transform: scale(1.04);
} */