* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.content-wrapper {
  max-width: 720px;
  margin: 0 auto;
}
