/* StepIndicator, 버튼 등 */

/* StepIndicator */
.step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 60px;
}

.step-wrapper {
  display: flex;
  align-items: center;
}

.step-circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: white;
}

.step-circle.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: white;
}

.step-circle.completed {
  background-color: rgba(var(--bs-secondary-rgb), 0.2);
  border-color: transparent;
  color: var(--bs-secondary);
}

.step-line {
  width: 30px;
  height: 1px;
  background-color: #bbb;
}