/* estimate */

.simulator_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* simulator */
.simulator_swiper {
  width: fit-content;
  max-width: 400px;
  height: 480px;
  margin: 0;
}

.simulator_swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* thumb */
.simulator_thumb_swiper {
  margin: 0;
  width: fit-content;
  height: 100%;
}

.simulator_thumb_swiper .swiper-wrapper {
  flex-direction: column;
  gap: 16px;
}

.simulator_thumb_swiper .swiper-slide {
  width: 100% !important;
  height: 100%;
  opacity: 0.4;
}

.simulator_thumb_swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.step_box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.step_box .num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-size: 12px;
  font-weight: 600;
  border-radius: 50px;
}



/* StepIndicator */
.step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
  margin: 20px auto 40px;
}

.step-wrapper {
  position: relative;
  z-index: 9;
  width: 68px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

.step-circle {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 1px solid var(--bs-border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: white;
}


.step-circle:before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 1px;
  top: 16px;
  left: 50%;
  background-color: var(--bs-gray-200);
}

.step-wrapper:last-child .step-circle:before {
  display: none;
}

.step-text {
  color: var(--bs-body-color);
  font-size: 12px;
}

.step-wrapper.active .step-circle {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: white;
}

.step-wrapper.active .step-text {
  color: var(--bs-primary);
  font-weight: 600;
}

.step-wrapper.completed .step-circle {
  background-color: var(--bs-gray-200);
  border-color: transparent;
  color: var(--bs-secondary);
}

.step-wrapper.completed .step-text {
  color: var(--bs-secondary);
}



/* page_card */
.page_card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: rgba(var(--bs-secondary-rgb), 0.15);
  --bs-card-border-radius: var(--bs-border-radius-lg);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: var(--bs-body-bg);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-box-shadow-sm);
}

.page_card>.card-body {
  flex: 1 1 auto;
  padding: 16px 20px;
  color: var(--bs-card-color);
}

@media (max-width: 575.98px) {
  .page_card {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
  }

  .page_card>.card-body {
    padding: 0;
  }
}