@charset "UTF-8";

/********** Root **********/
/* light */
:root,
[data-bs-theme="light"] {
  --bs-primary: #2563eb;
  --bs-primary-rgb: 37, 99, 235;
  --bs-primary-hover: #1359ee;
  --bs-primary-active: #044eee;

  --bs-emphasis-color: #212529;
  --bs-emphasis-color-rgb: 33, 37, 41;
  --bs-medium-emphasis-color: #838587;
  --bs-medium-emphasis-color-rgb: 131, 133, 135;
  --bs-reverse-emphasis-color: #fff;
  --bs-reverse-medium-emphasis-color: #8f8f8f;
  --bs-reverse-medium-emphasis-color-rgb: 143, 143, 143;

  --bs-gray-bg: #f3f4f5;
  --bs-gray-bg-rgb: 243, 244, 245;
  --bs-blue-gray-50: #eceff1;
  --bs-blue-gray-100: #cfd8dc;
  --bs-blue-gray-200: #b0bec5;
  --bs-blue-gray-300: #90a4ae;
  --bs-blue-gray-400: #78909c;
  --bs-blue-gray-500: #607d8b;
  --bs-blue-gray-600: #546e7a;
  --bs-blue-gray-700: #455a64;
  --bs-blue-gray-800: #37474f;
  --bs-blue-gray-900: #263238;

  --bs-border-color: #e7e9eb;
  --bs-border-radius: 0.75rem;
  --bs-border-radius-sm: 0.5rem;
  --bs-border-radius-lg: 1rem;
  --bs-border-radius-xl: 1.25rem;

  --bs-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.16);
  --bs-placeholder-color: rgba(var(--bs-emphasis-color-rgb), 0.24);
  --bs-link-color: #0d6efd;
}

* {
  font-family: "Pretendard";
  letter-spacing: -0.5px;
  border-collapse: collapse;
  box-sizing: border-box
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-primary-hover);
  --bs-btn-hover-border-color: var(--bs-primary-hover);
  --bs-btn-focus-shadow-rgb: 37, 99, 235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary-active);
  --bs-btn-active-border-color: var(--bs-primary-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}